[Desktop Entry]
Type=Application
Exec=su-to-root -c /usr/sbin/setpassword
Icon=setpassword
Terminal=true
Name=setpassword
GenericName=set system passwords
GenericName[de]=setze Systempasswort
GenericName[pt]=cria uma palavra chave para o utilizador root
GenericName[ptBr]=cria uma palavra chave para o utilizador root
GenericName[ru]=Установка пароли системы
Categories=System;
Keywords=Password;passwd;
